@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');
*{
    text-align: center;
}
body{
    font-family: 'Comic Neue', cursive;
    margin: 5rem;
}
.date{
    font-size: x-small;
    margin-top: -1.2rem;
    margin-left: -8rem;
}